name: Build and test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Build
        run: cargo build --verbose

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: test-build
          path: target/debug/?2?

  integration-tests:
    runs-on: ubuntu-latest

    needs: build

    strategy:
      matrix:
        data: [test, preserve-order]

    steps:
      - uses: actions/checkout@v6

      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: test-build
          path: target/debug

      - name: Extract binaries from artifact
        run: |
          mv -v target/debug/?2? ./
          chmod -v +x ?2?

      - name: Test yaml-to-json with implicit stdin
        run: |
          ./y2j < testdata/${{ matrix.data }}.yaml > ${{ matrix.data }}.out.json
          diff testdata/${{ matrix.data }}.json ${{ matrix.data }}.out.json

      - name: Test yaml-to-json with explicit stdin
        run: |
          ./y2j - < testdata/${{ matrix.data }}.yaml > ${{ matrix.data }}.out.json
          diff testdata/${{ matrix.data }}.json ${{ matrix.data }}.out.json

      - name: Test yaml-to-json with file input
        run: |
          ./y2j testdata/${{ matrix.data }}.yaml > ${{ matrix.data }}.out.json
          diff testdata/${{ matrix.data }}.json ${{ matrix.data }}.out.json

      - name: Test yaml-to-json --minify
        run: |
          ./y2j --minify < testdata/${{ matrix.data }}.yaml > ${{ matrix.data }}.min.out.json
          diff testdata/${{ matrix.data }}.min.json ${{ matrix.data }}.min.out.json

      - name: Test json-to-yaml with implicit stdin
        run: |
          ./j2y < testdata/${{ matrix.data }}.json > ${{ matrix.data }}.out.yaml
          diff testdata/${{ matrix.data }}.yaml ${{ matrix.data }}.out.yaml

      - name: Test json-to-yaml with explicit stdin
        run: |
          ./j2y - < testdata/${{ matrix.data }}.json > ${{ matrix.data }}.out.yaml
          diff testdata/${{ matrix.data }}.yaml ${{ matrix.data }}.out.yaml

      - name: Test json-to-yaml with file input
        run: |
          ./j2y testdata/${{ matrix.data }}.json > ${{ matrix.data }}.out.yaml
          diff testdata/${{ matrix.data }}.yaml ${{ matrix.data }}.out.yaml
